body {
	background: #E0FFFF;
	margin: 0;
	padding: 0;
}

.caixa {
	display: flex;
    height: 600px;
    background: linear-gradient(#00FFFF 70%, #E0FFFF);
    justify-content: center;
    align-items: center;
}

.calculadora-media {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 20px;
	margin: 10px 0;
}

input {
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

button {
	margin: 20px 0;
	padding: 12px 25px;
	border-radius: 5px;
	width: 10%;
	cursor: pointer;
}